@media screen and (min-width: 420px){
    .banner{
        height:19%;
        background-image: url(images/banner.png);
    }
    .char-jaehwa{
        float: left;
        width:100%;
        height: 100%;
        background-image: url(images/char_jaehwa.png);
        background-repeat: no-repeat;
    }
    .prop-item{
        float: left;
        width:100%;
        height: 100%;
        background-image: url(images/property_item.png);
        background-repeat: no-repeat;
    }
    .relic-func{
        float: left;
        width:100%;
        height: 140%;
        background-image: url(images/relic_func.PNG);
        background-repeat: no-repeat;
    }
    .relic-op{
        float: left;
        width:100%;
        height: 100%;
        background-image: url(images/relic_option.png);
        background-repeat: no-repeat;
    }
    .weapon-jaehwa{
        float: left;
        width:100%;
        height: 100%;
        background-image: url(images/weapon_jaehwa.png);
        background-repeat: no-repeat;
    }
}